<table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let colName of colNames">{{colName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
          <td *ngFor="let colField of colFields">
            <span>{{user[colField]}}</span>
            <span *ngIf="colField=='controls'">
              <button (click)="editUser(user)">Edit</button>
              <button (click)="deleteUser(user)">Delete</button>
            </span>
          </td>
      </tr>
    </tbody>
</table>`